@* 管理員用 Layout *@
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyPocket.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyPocket.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-warning" asp-area="Admin" asp-controller="Users" asp-action="Index">MyPocket Admin</a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="Admin" asp-controller="Users" asp-action="Index"><i class="bi bi-people-fill"></i> Users Management</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="Admin" asp-controller="UsersManagement" asp-action="Index">
                                <i class="bi bi-people"></i> Users Subscription
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="Admin" asp-controller="Categories" asp-action="Index"><i class="bi bi-tags-fill"></i> Categories Management</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="Admin" asp-controller="Announcement" asp-action="Index"><i class="bi bi-megaphone-fill"></i> Announcement</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="Admin" asp-controller="SubscriptionPlans" asp-action="Index">
                                <i class="bi bi-credit-card-fill"></i> Subscription Plans
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                                <button type="submit" class="btn btn-link nav-link text-warning">
                                    登出 (@(User?.Identity?.Name ?? ""))
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - MyPocket.Web (Admin)
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
